<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= mainHeading %></h1>

  <div>
    <% for(let user of users){ %>
      <div style="border: 2px solid black">
        <p><%= user.username %></p>
        <p><%= user.email %></p>
      </div>
    <% } %>

  </div>
</body>
</html>