
#blog-content{ 
  h1{
    font-size: 1.8rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  ol {
    list-style-type: decimal;
    margin-left: 12px;
  }

  ul {
    list-style-type: disc;
    margin-left: 12px;
  }

  a{
    color: blue;
    text-decoration: underline;
  }
}

