.container{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  /* background-color: teal; */
  /* animation: changeColor 2s; */
  /* animation-duration: ; */
  animation-iteration-count: infinite;
  animation-name: changePosition;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  /* animation-delay: 10s; */
  animation-timing-function: ease-in-out;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: changePosition ease-in-out 2s forwards;
}


@keyframes changeColor {
  from{
    /* background-color: orange; */
  }

  to{
    /* background-color: green; */
  }
}

@keyframes changePosition {
  0%{
    
  }

  50%{
    transform: translateX(400px);
  }
}
